<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NomadNook</title>
</head>
<body>
<h3>Create a new listing</h3>
    <form method="post" action="/listings">
        <input name="listing[title]" placeholder="Enter title" type="text">
        <br/><br/>
        <textarea name="listing[description]" placeholder="Enter description"></textarea>
        <br/><br/>
        <input name="listing[img]" placeholder="Enter url/Links" type="text">
        <br/><br/>
        <input name="listing[price]" placeholder="Enter price" type="number">
        <br/><br/>
        <input name="listing[country]" placeholder="Enter country" type="text">
        <br/><br/>
        <input name="listing[Location]" placeholder="Enter Location" type="text">
        <br/><br/>
        <button>Save</button>
    </form>
</body>
</html>